<div>
    <div class="py-5 text-center">
        <!-- <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h2>App Settings</h2>
        <p class="lead">
            Below is an example form built entirely with Bootstrap’s 
            form controls. Each required form group has a validation 
            state that can be triggered by attempting to submit the form without completing it.
        </p>
        <div class="container">
            <div class="row py-1">
                <div class="col">
                    <input type="text" class="form-control" 
                            placeholder="Update dbConfig.json path" [(ngModel)]="dbConfigPath">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
            <!--  -->
            <div class="row py-1">
                <div class="col">
                    <input type="text" class="form-control" 
                            placeholder="Movies folder path" [(ngModel)]="moviesPath">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary">Sync</button>
                </div>
            </div>
            <!--  -->
            <div class="row py-1">
                <div class="col">
                    <input type="text" class="form-control" 
                            placeholder="TV Series folder path" [(ngModel)]="tvSeriesPath">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary">Sync</button>
                </div>
            </div>
        </div>
        
    </div>
</div>